<script>
import { onMount } from 'svelte';
import Youtube from './Youtube.svelte';
import Image from './Image.svelte';
import Loading from './Loading.svelte';

let current = 0;
let isLoading = false;

let key = "1FP_KWxFsE_UtkZY7tGhK2ZrmVay92GPJIE8ztI8g_Vc";
let sheet = 1;

$: item = playlist[current];

let playlist = [];

function goNext(){
	isLoading = true;
	setTimeout(()=>{
		isLoading = false;
		current += 1;
		if(current>=playlist.length){
			current = 0;
		}
	}, 10000);
}

async function loadData(){
	isLoading = true;
	var data = await fetch(`https://gsapi.futurelabkerala.in/api?id=${key}&sheet=${sheet}&columns=false&integers=false`)
			.then(response => response.json())
	isLoading = false;
	playlist = data.rows;

}

onMount(()=>{
	loadData();
})


</script>
<main>
	<!-- <Youtube video="rUWxSEwctFU"></Youtube> -->
	{#if isLoading}
		<Loading></Loading>
	{:else}
		{#if playlist.length}
			{#if item.type=="image"}
				<Image image={item.content} time={item.time} on:next={goNext}></Image>
			{/if}
			{#if item.type=="youtube"}
				<Youtube video={item.content} on:next={goNext}></Youtube>
			{/if}
		{/if}
	{/if}
</main>

<style>
	main {
		width: 100%;
		height: 100vh;
	}
</style>