<div>
  <img src={image} alt="slide">
</div>

<script>
  import { onMount } from 'svelte';
  import { createEventDispatcher } from 'svelte';

  export let image = "";
  export let time = "";

  const dispatch = createEventDispatcher();

  onMount(() => {
		setTimeout(()=>{
      dispatch('next',time);
    }, time);
	});
</script>

<style>
  div{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
  }
</style>
