<div class="preloader">
  <div class="content">
    <div class="loader"></div>
    <div class="spinner"></div>
  </div>
</div>


<style type="text/scss">
.preloader {
  display: block;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #252526;
    background: radial-gradient(circle, rgba(50, 50, 51, 1) 0%, rgba(37, 37, 38, 1) 100%);
    .loader {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('../assets/logo-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center top;
      width: 300px;
      height: 300px;
    }
    .spinner {
      border-radius: 50%;
      border: 3px solid rgba(0, 0, 0, .2);
      border-top-color: #00afef;
      height: 100px;
      // margin: 0 auto 3.5em auto;
      margin-right: 25px;
      width: 100px;
      animation: spinner 2s linear infinite;
      transition: all 5s ease;
      position: absolute;
      // margin: 200px;
      top: 70%;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
</style>