<script context="module">
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  window.onYouTubeIframeAPIReady = function(){
    window.dispatchEvent(new Event('YouTubeIframeAPIReady'));
    window.YtApiReady = true;
  }
</script>

<script>
  import { onMount } from 'svelte';
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let video;
  let player;
  let divId = "player_"+parseInt(Math.random()*10000).toString();

  window.addEventListener('YouTubeIframeAPIReady', function(){
    createPlayer();
  }, {passive: true});

  function createPlayer(){
    player = new YT.Player(divId, {
      height: window.innerHeight,
      width: window.innerWidth,
      videoId: video,
      playerVars: {
        autoplay: 1,
        controls: 0,
        disablekb: 1,
        fs: 0,
        modestbranding:1,
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event){
    event.target.playVideo();
  }

  function onPlayerStateChange(event){
    if(event.data==0){
      dispatch('next','');
    }
  }

  onMount(()=>{
    if(window.YtApiReady && !player){
      createPlayer();
    }
  })
</script>
<div>
  <div id={divId}></div>
</div>